@font-face {
  font-family: "iconfont"; /* Project id 4822393 */
  src: url('iconfont.woff2?t=1738922083547') format('woff2'),
       url('iconfont.woff?t=1738922083547') format('woff'),
       url('iconfont.ttf?t=1738922083547') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-16gl-A:before {
  content: "\eb85";
}

.icon-16gl-L:before {
  content: "\eb88";
}

.icon-16gl-R:before {
  content: "\eb8a";
}

.icon-16gl-T:before {
  content: "\eb8b";
}

.icon-16gl-V:before {
  content: "\eb8c";
}

.icon-16gl-U:before {
  content: "\eb8d";
}

.icon-16gl-S:before {
  content: "\eb8e";
}

.icon-a-16gl-T:before {
  content: "\e6ba";
}

